body {
  background: lightgrey;
  margin-top: 2rem;
  margin-left: 15%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 80%;
  font-size: 100%;
}

.headings b {
  color: green;
}

.title {
  color: green;
  margin-left: 30%;
}
